langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
ipykernel
pymupdf
unstructured
pdfminer
python-docx
docx2txt
openpyxl
pandas
matplotlib
jq
langchain-huggingface
sentence-transformers